<!DOCTYPE html>
<html ng-app="Scavenger_Hunt">

<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Scavenger Hunt</title>
    <!--<link rel="icon" href="hunt/images/scav_hunt_icon.png">
    <link rel="apple-touch-icon" href="hunt/images/scav_hunt_icon.png">-->
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <link rel="stylesheet" href="Users/Shantanu/Desktop/Source/Kinetic/Scavenger_Hunt/styles.css">
    <!--<script src="hunt/script.js"></script>-->
    <script src="Users/Shantanu/Desktop/Source/Kinetic/Scavenger_Hunt/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel:300, 700" rel="stylesheet">
</head>

<body ng-controller="welcome_Controller">
    <div id="heading">
        <!--<img src='hunt/images/logo-header.png'>-->
        <img src='Users/Shantanu/Desktop/Source/Kinetic/Scavenger_Hunt/images/logo-header.png'>
    </div>
    <div id="heading_text">
        <h3>Scavenger Hunt</h3>
    </div>
    <div id="choose_hunt">
        <h1>Welcome to Kinetic's <br /> Open House</h1>
        <h2>Choose one of the options below to start your adventure</h2>
        <button class="button" ng-click="hunt1()">HUNT 1</button>
        <button class="button" ng-click="hunt2()">HUNT 2</button>
        <button class="button" ng-click="hunt3()">HUNT 3</button>
        <button class="button" ng-click="hunt_random()">Surprise Me!</button>
        <div id="hint_div">
            <div class="grid-image">
                <img ng-src="{{grid_image}}">
            </div>
        </div>
    </div>
    <div id="hunt1"  ng-controller="hunt1_Controller">
        <div id="q1">
            <div id="q1_start">
                <h1>Lets start with a puzzle</h1>
            </div>
            <div id="q1_clue">
                <div id="canvas_heading">
                    <h3>Solve the puzzle to get to the next clue</h3>
                </div>
                <div id="canvas"></div>
                <img ng-src="{{puzzle_image}}" id="preview">
                <div id="canvas_buttons">
                    <button class="button" id="help_button" ng-click="help()">Help!</button>
                    <button class="button" id="give_up_button" ng-click="give_up()">I Give Up!</button>
                    <button class="button" id="go_to_clue2_button" ng-click="go_to_clue2()">Next Clue!</button>
                </div>
            </div>
            <div id="hint_div">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="q2" >
            <div id="q2_congrats">
                <h1>Great! <br />Lets go to the next clue</h1>
            </div>
            <div id="q2_clue">
                <h1>Find the code in one of the 6 pockets upstairs</h1>
                <h3>Enter the code below <br/> to reveal the next clue:</h3>
                <input id="q2_input" ng-model="q2_answer">
                <button class="button" id="q2_next_clue_button" ng-click="go_to_clue3()">Next Clue!</button>
            </div>
            <div id="hint_div">
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Check one of the pockets <br/> on the Pool Table</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="q3">
            <div id="q3_congrats">
                <h1>Good Job! <br /> Lets move on...</h1>
            </div>
            <div id="q3_clue" style="display: none;">
                <h1>For this clue, go to the Conference Room and look for something living</h1>
                <h3>Enter the code below <br/> to reveal the next clue:</h3>
                <input id="q3_input" ng-model="q3_answer">
                <button class="button" id="q3_next_clue_button" ng-click="go_to_clue4()">Next Clue!</button>
            </div>
            <div id="hint_div">
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>I'm Green</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="q4" >
            <div id="q4_congrats">
                <h1>You're doing great!</h1>
            </div>
            <div id="q4_clue">
                <h1>Lets head upstairs to play a "little" soccer and find the code for our next clue</h1>
                <h3>Enter the code below <br/> to reveal the next clue:</h3>
                <input id="q4_input" ng-model="q4_answer">
                <button class="button" id="q4_next_clue_button" ng-click="go_to_clue5()">Next Clue!</button>
            </div>
            <div id="hint_div">
                <div id="q4_hint" class="hint_bubble" ng-show="is_visible">
                    <h6>Foosball!</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="q5">
            <div id="q5_congrats">
                <h1>Excellent!</h1>
            </div>
            <div id="q5_clue">
                <h1>Sound out these images to find your last clue</h1>
                <img ng-src="{{phone_image}}">
                <img ng-src="{{booth_image}}"> 
                <h3>Enter the code below <br />to reveal the next clue:</h3>
                <input id="q5_input" ng-model="q5_answer">
                <button class="button" id="q5_button" ng-click="finish_hunt()">What do I win?</button>
            </div>
            <div id="hint_div" > 
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Phone Booth</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="winner" >
            <h1>Congratulations! You won</h1>
            <div id="hint_div">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
    </div>

    <div id="hunt2" ng-controller="hunt2_Controller">
        <div id="h2q1">
            <div id="h2q1_start">
                <h1>Lets Begin</h1>
            </div>
            <div id="h2q1_clue">
                <h1>Lets head upstairs to play a "little" soccer and find the code for our next clue</h1>
                <h3>Enter the code below <br /> to reveal the next clue:</h3>
                <input id="h2q1_input" ng-model="h2q1_answer">
                <button class="button" id="h2q1_next_clue_button" ng-click="go_to_h2_clue2()">Next Clue!</button>
                <p></p>
            </div>
            <div id="hint_div" >
                <div id="h2q1_hint" class="hint_bubble" ng-show="is_visible">
                    <h6>Foosball!</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="h2q2">
            <div id="h2q2_congrats">
                <h1>Great! <br /> Lets go to the next clue</h1>
            </div>
            <div id="h2q2_clue">
                <h1>While you're upstairs, you will find the code in one of 6 pockets</h1>
                <h3>Enter the code below to reveal the next clue:</h3>
                <input id="h2q2_input" ng-model="h2q2_answer">
                <button class="button" id="h2q2_next_clue_button" ng-click="go_to_h2_clue3()">Next Clue!</button>
                <p></p>
            </div>
            <div id="hint_div">
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Check one of the pockets on the Pool Table</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="h2q3" >
            <div id="h2q3_congrats">
                <h1>You're doing great!</h1>
            </div>
            <div id="h2q3_clue">
                <h1>To get your next clue, unscramble the last word in this sentence:</h1>
                <h2>Look for a poster that lights up a popular <u><i>iveom</i></u></h2>
                <h3>Enter the code below to reveal the next clue:</h3>
                <input id="h2q3_input" ng-model="h2q3_answer">
                <button class="button" id="h2q3_next_clue_button" ng-click="go_to_h2_clue4()">Next Clue!</button>
                <p></p>
            </div>
            <div id="hint_div">
                <div id="h2q3_hint" class="hint_bubble" ng-show="is_visible">
                    <h6>Back to the Future!</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="h2q4">
            <div id="h2q4_congrats">
                <h1>Excellent! <br /> You're so close...</h1>
            </div>
            <div id="h2q4_clue">
                <h1>To get your next clue, Vulcan may be pointing you in the right direction</h1>
                <h3>Enter the code below to reveal the next clue:</h3>
                <input id="h2q4_input" ng-model="h2q4_answer">
                <button class="button" id="h2q4_next_clue_button" ng-click="go_to_h2_clue5()">Next Clue!</button>
                <p></p>
            </div>
            <div id="hint_div" >
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Lobby</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="h2q5">
            <div id="h2q5_congrats">
                <h1>The last leg!</h1>
            </div>
            <div id="h2q5_clue">
                <div id="h2_canvas_heading">
                    <h3>Solve this image puzzle to finish the hunt</h3>
                </div>
                <div class="new_canvas"></div>
                <img ng-src="{{h2_puzzle_image}}" id="preview" class="h2_preview">
                <div id="canvas_buttons">
                    <button class="button" id="h2_help_button" ng-click="help()">Help!</button>
                    <button class="button" id="h2_give_up_button" ng-click="give_up()">I Give Up!</button>
                    <button class="button" id="h2_finish_hunt_button" ng-click="finish_hunt2()">What do I win?</button>
                </div>
            </div>
            <div id="hint_div">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
        <div id="h2winner" >
            <h1>Congratulations! You Won!</h1>
            <div id="hint_div">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>
    </div>

    <div id="hunt3" ng-controller="hunt3_Controller">
        <div id="h3q1">
            <div id="h3q1_start">
                <h1>Here We Go!</h1>
            </div>
            <div id="h3q1_clue">
                <h1>I'm sure you noticed our caboose when you walked in. Head over and find the Macquarium to find your next clue</h1>
                <h3>Enter the code below to reveal the next clue:</h3>
                <input id="h3q1_input" ng-model="h3q1_answer">
                <button class="button" id="h3q1_next_clue_button" ng-click="go_to_h3clue2()">Next Clue!</button>
                <p></p>
            </div>
            <div id="hint_div">
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Lobby</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>

        <div id="h3q2">
            <div id="h3q2_congrats">
                <h1>Sweet! <br /> Lets move on to the next one</h1>
            </div>
            <div id="h3q2_clue">
                <h1>To get your next clue, unscramble the last word in this sentence:</h1>
                <h2>Look for a poster that lights up a popular <u><i>iveom</i></u></h2>
                <h3>Enter the code below to reveal the next clue:</h3>
                <input id="h3q2_input" ng-model="h3q2_answer">
                <button class="button" id="h3q2_next_clue_button" ng-click="go_to_h3clue3()">Next Clue!</button>
                <p></p>
            </div>
            <div id="hint_div">
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Back to the Future!</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>

        <div id="h3q3">
            <div id="h3q3_congrats">
                <h1>Nice! <br /> You're good at this</h1>
            </div>
            <div id="h3q3_clue">
                <h1>To find your next clue, unscramble the word in this sentence</h1>
                <h2>Look for <u><i>launcv</i></u> to point you in the right direction</h2>
                <h3>Enter the code below to reveal the next clue:</h3>
                <input id="h3q3_input" ng-model="h3q3_answer">
                <button class="button" id="h3q3_next_clue_button" ng-click="go_to_h3clue4()">Next Clue!</button>
                <p></p>
            </div>
            <div id="hint_div">
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Vulcan</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>

        <div id="h3q4">
            <div id="h3q4_congrats">
                <h1>Right on!</h1>
            </div>
            <div id="h3q4_clue">
                <h1>To find your next clue, look for the sushi above the printers</h1>
                <h3>Enter the code below to reveal the next clue:</h3>
                <input id="h3q4_input" ng-model="h3q4_answer">
                <button class="button" id="h3q4_next_clue_button" ng-click="go_to_h3clue5()">Next Clue!</button>
                <p></p>
            </div>
            <div id="hint_div">
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Between the Think Tank and LED bar</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>

        <div id="h3q5">
            <div id="h3q5_congrats">
                <h1>Impressive! <br /> You're almost there</h1>
            </div>
            <div id="h3q5_clue">
                <h1>Look for Kinetic on our mega map to find your last clue and finish this hunt!</h1>
                <h3>Enter the code below to reveal the next clue:</h3>
                <input id="h3q5_input" ng-model="h3q5_answer">
                <button class="button" id="h3q5_finish_hunt_button" ng-click="finish_hunt3()">What do I win?</button>
                <p></p>
            </div>
            <div id="hint_div">
                <div class="hint_bubble" ng-show="is_visible">
                    <h6>Conference Room</h6>
                </div>
                <img ng-src="{{hint_icon}}" class="hint_image" ng-click="show_hint()">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>

        <div id="h3_winner">
            <h1>Congratulations! You Won!</h1>
            <div id="hint_div">
                <div class="grid-image">
                    <img ng-src="{{grid_image}}">
                </div>
            </div>
        </div>

    </div>
</body>

</html>